streamlit>=1.20.0
torch>=1.13.0     # It is recommended to download torch using their website
Pillow>=9.0.0
numpy>=1.20.0
diffusers>=0.25.0
transformers>=4.30.0
accelerate>=0.20.0
safetensors>=0.3.0
invisible-watermark>=0.2.0
huggingface_hub>=0.17.0 # Added for downloading models
